[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrogram = "==1.0.7"
requests = "==2.20.1"
tgcrypto = "==1.2.2"
beautifulsoup4 = "==4.9.1"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
