[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
python-dotenv = "*"
pyrogram = "*"
tgcrypto = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"
watchdog = "*"

[requires]
python_version = "3.8"
